URxvt.perl-ext-common: default,matcher,clipboard
!
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.font: xft:DejaVu Sans Mono:size=9:antialias=true,\
xft:IPAPGothic=9:antialias=true
URxvt.letterSpace: -1

URxvt.visualBell: true

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste


! URL launching
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

